---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Trigonometry | Deep">
  <main class="container">
    <canvas class="canvas"></canvas>
    <canvas class="chart"></canvas>
  </main>
</Layout>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .canvas {
    background-color: hsla(190, 80%, 10%);
  }
  .chart {
    background-color: hsla(230, 30%, 20%);
  }
</style>

<script>
  const canvas = document.querySelector('.canvas');
  const chart = document.querySelector('.chart');
  const ctx = canvas.getContext('2d');
  const ctxChart = chart.getContext('2d');

  const sinColor = 'hsl(40, 90%, 60%)';
  const cosColor = 'hsl(280, 40%, 60%)';
  const tanColor = 'hsl(3, 50%, 60%)';

  canvas.width = window.innerWidth / 2;
	canvas.height  = window.innerHeight;

  chart.width = canvas.width-20;
  chart.height = canvas.height;

  let theta = Math.PI / 4;
  const h = 200;




  let A = {
    x: 	0,
    y:  0
  };

  let B = {
    x: 	h*Math.cos(theta),
    y: 	h*Math.sin(theta)
  };

  let C = {
    x: 	B.x,
    y: 	0
  };

  //offset coordinates
  const offset = {
    x: canvas.width / 2,
    y: canvas.height / 2
  };
 
  //set canvas in the middle
  ctx.translate(offset.x, offset.y);
  ctxChart.translate(offset.x, offset.y);

  update();
 

  canvas.addEventListener('wheel', (e) => {
    theta -= toRad(Math.sign(e.deltaY));
    
    B.x = h*Math.cos(theta);
    B.y = h*Math.sin(theta);
    C.x = B.x;
    
    update();
   
   
  })

  drawCoordinateSystem(ctx);
  drawCoordinateSystem(ctxChart);

  function drawCoordinateSystem(context) {  
    context.beginPath();
    context.moveTo(-offset.x, 0);
    context.lineTo(canvas.width - offset.x, 0);
    context.moveTo(0, -offset.y);
    context.lineTo(0,canvas.height - offset.y);
    //line dash
    context.setLineDash([12, 2]);
    context.strokeStyle = 'hsl(190, 10%, 50%)';
    context.stroke();
    context.setLineDash([]);
    context.closePath();
   
  }

  function drawPoint(x, y, r=10 , color) {
    
    ctxChart.beginPath();
    
    ctxChart.fillStyle = color;
    ctxChart.arc(x, y, r/2, 0, 2 * Math.PI);
    ctxChart.fill();
    ctxChart.closePath();
    
    
  }

  function drawText({x, y}, label, color='black', fontSize='20px') {
    ctx.fillStyle = color;
		ctx.textAlign = 'center';
		ctx.textBaseline = 'middle';
		ctx.font = `bold ${fontSize} Inter`;
		ctx.fillText(label, x,y);
    /* ctx.strokeStyle = 'white';
    ctx.lineWidth = 1;
    ctx.strokeText(label, x,y); */
    ctx.closePath();
  }

  function update() {
    

    const sin = Math.sin(theta);
    const cos = Math.cos(theta);
    const tan = Math.tan(theta);

    const T = {
      x: 	Math.sign(cos) * Math.hypot(1, tan) * h,
      y: 	0
    }

   
    const thetaDeg = theta * 180 / Math.PI;

    ctx.clearRect(-offset.x,-offset.y,
      canvas.width,canvas.height);
    drawCoordinateSystem(ctx);
   
    drawLine(A,B,'white');
    drawText(average(A,B),'1','white'); // 1 to explain the unit circle
    drawLine(A,C, cosColor);
    drawText(average(A,C),'b',cosColor);
    drawLine(C,B, sinColor);
    drawText(average(B,C),'a',sinColor);
    drawLine(B,T, tanColor);
    drawText(T,'tan',tanColor);

    drawText(A, 'Θ','white','18px');


    //draw circle (unit circle)
    ctx.beginPath();
    ctx.arc(0, 0, h, 0, theta,theta < 0);
    ctx.strokeStyle = 'hsl(90, 80%, 50%)';
    ctx.lineWidth = 1;
    ctx.stroke();
    ctx.closePath();

   

    //draw trig functions text values
    drawText({x: -offset.x + 200, y: offset.y-280}, `Sin(Θ): ${sin.toFixed(2)}`, sinColor,'18px');
    drawText({x: -offset.x + 200, y: offset.y-240}, `Cos(Θ): ${cos.toFixed(2)}`, cosColor,'18px');
    drawText({x: -offset.x + 200, y: offset.y-200}, `Tan(Θ): ${tan.toFixed(2)}`, tanColor,'18px');

    drawText({x: -offset.x + 200 , y: offset.y-160}, `(Θ): ${theta.toFixed(2)} rad | ${thetaDeg.toFixed(2)} deg `, 'white','18px');

    updatePlot(sin,cos,tan);

  }

  function updatePlot(sin,cos,tan){
    const chartScalar = 150;
    drawPoint(theta * chartScalar,sin * chartScalar,5,sinColor);
    drawPoint(theta * chartScalar,cos * chartScalar,5,cosColor); 
    drawPoint(theta * chartScalar,tan * chartScalar,5,tanColor);  
  }

  function toRad(deg) {
    return deg * Math.PI / 180;
  }

  function average(p1, p2) {
    return {
      x: (p1.x + p2.x) / 2,
      y: (p1.y + p2.y) / 2
    }
  }

  function drawLine(p1, p2, color) {
    ctx.beginPath();
    ctx.strokeStyle = color;
    ctx.moveTo(p1.x, p1.y);
    ctx.lineTo(p2.x, p2.y);
    ctx.lineWidth = 2;
    ctx.stroke();
    ctx.closePath();
  }

 
</script>

